In [1]:
# PropNa stands for 'Proportion of NaN'
# I like how it matches the in-built DropNa function name :)

def propna(df):
    
    """
    Quick check the proportion of entries in a given DataFrame that is NaN.
    Single argument: (dataframe)
    Returns: Dictionary {[Column Name] : [Percentage of Nan (in %)]}
    """
    
    total_nans = df.isna().sum().to_dict()
    propna = [round((nans / df.shape[0] * 100), 2) for nans in total_nans.values()]
    total_nans.update(dict(zip(total_nans.keys(), propna)))
    print('Percentage of data that is NaN (in %)')
    return total_nans

propna?

Signature: propna(df)
Docstring:
Quick check the proportion of entries in a given DataFrame that is NaN.
Single argument: (dataframe)
Returns: Dictionary {[Column Name] : [Percentage of Nan (in %)]}
File:      c:\users\lenovo\appdata\local\temp\ipykernel_6804\2986362422.py
Type:      function

In [3]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [6]:
data.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2024-09-16 00:00:00,2024.0,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-08-26 00:00:00,2024.0,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-08-06 00:00:00,2024.0,Unprovoked,Belize,Gulf of Honduras,Central America,Swimming - Diving,Annabelle Carlson,F,15,...,Reef shark 6ft (1.8m),Kevin McMurray Tracking Sharks.com New York Po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.shape

(6970, 23)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6970 entries, 0 to 6969
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6970 non-null   object
 1   Year            6968 non-null   float64
 2   Type            6952 non-null   object
 3   Country         6920 non-null   object
 4   State           6488 non-null   object
 5   Location        6405 non-null   object
 6   Activity        6384 non-null   object
 7   Name            6750 non-null   object
 8   Sex             6391 non-null   object
 9   Age             3975 non-null   object
 10  Injury          6935 non-null   object
 11  Unnamed: 11     6408 non-null   object
 12  Time            3443 non-null   object
 13  Species         3838 non-null   object
 14  Source          6951 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [9]:
data.nunique()

Date              6021
Year               261
Type                12
Country            234
State              914
Location          4534
Activity          1596
Name              5708
Sex                  8
Age                245
Injury            4100
Unnamed: 11         12
Time               423
Species           1693
Source            5326
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [10]:
# Check proportions of NaN values in the data
propna(data)

Percentage of data that is NaN (in %)

{'Date': 0.0,
 'Year': 0.03,
 'Type': 0.26,
 'Country': 0.72,
 'State': 6.92,
 'Location': 8.11,
 'Activity': 8.41,
 'Name': 3.16,
 'Sex': 8.31,
 'Age': 42.97,
 'Injury': 0.5,
 'Unnamed: 11': 8.06,
 'Time': 50.6,
 'Species ': 44.94,
 'Source': 0.27,
 'pdf': 2.45,
 'href formula': 2.53,
 'href': 2.5,
 'Case Number': 2.47,
 'Case Number.1': 2.48,
 'original order': 2.45,
 'Unnamed: 21': 99.99,
 'Unnamed: 22': 99.97}

In [11]:
# hl_df stands for 'High Level DataFrame'
# We can use this DataFrame for analysis on a higher level, like checking countries, years, sex of the victims and their activies
# We can create another dataframe for more specific analysis, like months and states...

hl_df = data.drop(columns=[
    'Date',
    'State',
    'Location',
    'Name', 
    'Unnamed: 11',
    'Time',
    'Case Number',
    'Case Number.1', 
    'Source', 
    'pdf', 
    'href formula', 
    'href', 
    'original order', 
    'Unnamed: 21', 
    'Unnamed: 22'])

In [12]:
hl_df.rename(columns={
    'Year' : 'year',
    'Type' : 'type',
    'Country' : 'country',
    'Activity' : 'activity',
    'Sex' : 'sex',
    'Age' : 'age',
    'Injury' : 'injury',
    'Species ' : 'size',
    'Case Number' : 'date'
}, inplace=True)

In [13]:
col_order = [
    'year',
    'country',
    'sex',
    'age',
    'activity',
    'injury',
    'type',
    'size'
]

hl_df = hl_df[col_order]

In [14]:
propna(hl_df)
# Age and Species are the ones with more NaN
# Since age is numerical, maybe we can fill it in with the mean or median (or bfil/ffil)

Percentage of data that is NaN (in %)

{'year': 0.03,
 'country': 0.72,
 'sex': 8.31,
 'age': 42.97,
 'activity': 8.41,
 'injury': 0.5,
 'type': 0.26,
 'size': 44.94}

In [15]:
hl_df.sample(3)

,year,country,sex,age,activity,injury,type,size
3907,1974.0,HONG KONG,M,NaN,Freedom swimming,FATAL,Unprovoked,NaN
3149,1993.0,TONGA,M,NaN,Sea disaster,Foot bitten,Sea Disaster,1.5 m [5'] shark
6293,1895.0,USA,M,NaN,Fishing,Arm bitten,Unprovoked,NaN

In [16]:
# List of species used as reference can be retrieved in the following url:
# https://www.floridamuseum.ufl.edu/shark-attacks/maps/world-interactive/
# I will use loc() to find all mentions of these species in the dataframe and standardize their entry

In [17]:
# I did A LOT of homework to address different names to the same species...
# Scientific names were retrieved through Google Search and Wikipedia

clean_species = {
    r'(?i)^.*white shark.*$': 'white shark', # Carcharodon carcharias
    r'(?i)^.*requiem.*$': 'requiem sharks', # Order Carcharhiniformes:
                                             # contains bull shark, lemon shark, blacktip shark and whitetip reef
    r'(?i)^.*wobbeg.*$': 'wobbegong', # Family Orectolobidae, contains 12 species. These are small (~1m), carpet sharks
    r'(?i)^.*carpet.*$' : 'wobbegong', 
    r'(?i)^.*blue pointer.*$': 'blue pointer', # Isurus oxyrinchus
    r'(?i)^.*shortfin.*$': 'blue pointer',
    r'(?i)^.*mako.*$' : 'blue pointer',
    r'(?i)^.*blue whaler.*$' : 'blue shark', # Prionace glauca
    r'(?i)^.*blue shark.*$' : 'blue shark',
    r'(?i)^.*blue nose.*$' : 'blue shark',
    r'(?i)^.*blue-nose.*$' : 'blue shark',
    r'(?i)^.*sand.*$': 'sand tiger', # Carcharias taurus
    r'(?i)^.*grey nurse.*$' : 'sand tiger',
    r'(?i)^.*ragged.*$' : 'sand tiger',
    r'(?i)^.*hammerhead.*$': 'hammerhead', # Family Sphyrnidae
    # r'(?i)^.*tiger.*$': 'tiger shark' #,
    r'(?i)^.*bull.*$': 'bull shark', # Carcharhinus leucas
    r'(?i)^.*leucas.*$' : 'sevengill shark',
    r'(?i)^.*zamb.*$' : 'bull shark',
    # Sometimes just zambi, or zambesi, or zambezi
    r'(?i)^.*blacktip reef.*$': 'blacktip reef', # Carcharhinus melanopterus
    r'(?i)^.*blacktip "reef".*$': 'blacktip reef',
    r'(?i)^.*blacktail reef.*$': 'blacktip reef',
    r'(?i)^.*blacktip shark.*$': 'blacktip shark', # Carcharhinus limbatus
    r'(?i)^.*blackfin.*$' : 'blacktip shark',
    r'(?i)^.*black-tipped.*$' : 'blacktip shark',
    r'(?i)^.*grey reef.*$': 'grey reef', # Carcharhinus amblyrhynchos
    r'(?i)^.*oceanic white.*$': 'whitetip shark', # Carcharhinus longimanus
    r'(?i)^.*whitetip shark.*$': 'whitetip shark',
    r'(?i)^.*lemon.*$': 'lemon shark', # Negaprion brevirostris
    r'(?i)^.*bronze.*$': 'copper shark', # Carcharhinus brachyurus
    r'(?i)^.*copper.*$' : 'copper shark',
    r'(?i)^.*narrowtooth.*$' : 'copper shark',
    r'(?i)^.*whaler shark.*$' : 'copper shark',
    r'(?i)^.*spinner.*$': 'spinner shark', # Carcharhinus brevipinna
    r'(?i)^.*cookie.*$': 'cookiecutter shark', # Isistius brasiliensis
    r'(?i)^.*nurse shark.*$': 'nurse shark', # Ginglymostoma cirratum
    r'(?i)^.*sickle.*$': 'sicklefin shark', # Negaprion acutidens
    r'(?i)^.*sharptooth.*$': 'sicklefin shark',
    r'(?i)^.*caribbean reef.*$': 'caribbean reef', # Carcharhinus perezi
    r'(?i)^.*seven.*$' : 'sevengill shark', # Notorynchus cepedianus
    r'(?i)^.*broadnose.*$' : 'sevengill shark',
    r'(?i)^.*7-gill.*$' : 'sevengill shark',
    r'(?i)^.*dog.*$' : 'dog shark',
    r'(?i)^.*bask.*$' : 'basking shark', # Cetorhinus maximus
    r'(?i)^.*whale shark.*$' : 'whale shark', # Rhyncodon typus
    r'(?i)^.*galapagos shark.*$' : 'galapagos shark', # Carcharhinus galapagensis
    r'(?i)^.*salmon.*$' : 'salmon shark', # Lamna ditropis
    r'(?i)^.*dusky.*$' : 'dusky shark', # Carcharhinus obscurus
    r'(?i)^.*obscur.*$' : 'dusky shark',
    r'(?i)^.*angel.*$' : 'angel shark',
    r'(?i)^.*questionable.*$' : 'questionable',
    r'(?i)^.*unconf.*$': 'shark involvement unconfirmed',
    r'(?i)^.*invalid.*$': 'invalid',
}

hl_df.replace(to_replace=clean_species, regex=True, inplace=True)

In [18]:
# We'll have tou courate tiger sharks separately because of sand tigers
tiger_shark = {
    r'(?i)^.*tiger shark.*$' : 'tiger shark'
}

hl_df['size'] = hl_df['size'].replace(tiger_shark, regex=True)

In [19]:
hl_df['size'].value_counts()

size
white shark                                                         699
tiger shark                                                         292
bull shark                                                          257
sand tiger                                                          144
Shark involvement prior to death was not confirmed                  105
                                                                   ...
2.4 m to 3 m [8' to 10'] grey colored shark                           1
Shark involvement not confirmed, injury may be due to a stingray      1
Species unidentified                                                  1
60 cm [2'] captive shark                                              1
"A pack of sharks"                                                    1
Name: count, Length: 535, dtype: int64

In [20]:
species_size = {
    'white shark': 'big',
    'requiem sharks': 'medium',
    'wobbegong': 'small',
    'blue pointer': 'medium',
    'blue shark': 'medium',
    'sand tiger': 'big',
    'hammerhead': 'big',
    'bull shark': 'big',
    'blacktip reef': 'medium',
    'blacktip shark': 'medium',
    'grey reef': 'medium',
    'whitetip shark': 'medium',
    'lemon shark': 'big',
    'copper shark': 'medium',
    'spinner shark': 'medium',
    'cookiecutter shark': 'small',
    'nurse shark': 'medium',
    'sicklefin shark': 'medium',
    'caribbean reef': 'medium',
    'sevengill shark': 'medium',
    'dog shark': 'small',
    'basking shark': 'big',
    'whale shark': 'big',
    'galapagos shark': 'medium',
    'salmon shark': 'big',
    'dusky shark': 'big',
    'angel shark': 'medium',
}

hl_df['size'].replace(to_replace=species_size, regex=True, inplace=True)

In [21]:
hl_df['size'].value_counts()

size
big                                                                 1220
medium                                                               543
tiger shark                                                          292
Shark involvement prior to death was not confirmed                   105
invalid                                                              103
                                                                    ...
3.5' to 4.5' shark                                                     1
2.4 m to 3 m [8' to 10'] grey colored shark                            1
Shark involvement not confirmed, injury may be due to a stingray       1
Species unidentified                                                   1
"A pack of sharks"                                                     1
Name: count, Length: 513, dtype: int64

In [22]:
shark_sizes_feet = {
    "1' shark" : 'small',
    "2' shark" : 'small',
    "3' shark" : 'small',
    "4' shark" : 'small',
    "5' shark" : 'small',
    "6' shark" : 'small',
    "7' shark" : 'medium',
    "8' shark" : 'medium',
    "9' shark" : 'medium',
    "10' shark" : 'medium',
    "11' shark" : 'medium',
    "12' shark" : 'medium',
    "13' shark" : 'medium',
    "14' shark" : 'medium',
    "15' shark" : 'medium',
    "16' shark" : 'medium',
}

hl_df['size'].replace(to_replace=shark_sizes_feet, regex=True, inplace=True)

In [23]:
hl_df['size'].value_counts()

size
big                                                                 1220
medium                                                               587
tiger shark                                                          292
small                                                                230
Shark involvement prior to death was not confirmed                   105
                                                                    ...
3 m to 3.7 m [10' to 12'] shark                                        1
3.5' to 4.small                                                        1
2.4 m to 3 m [8' to 10'] grey colored shark                            1
Shark involvement not confirmed, injury may be due to a stingray       1
"A pack of sharks"                                                     1
Name: count, Length: 495, dtype: int64

In [24]:
shark_sizes_feet_2 = {
    r"(?i)^.*1' .*$" : 'small',
    r"(?i)^.*2' .*$" : 'small',
    r"(?i)^.*3' .*$" : 'small',
    r"(?i)^.*4' .*$" : 'small',
    r"(?i)^.*5' .*$" : 'small',
    r"(?i)^.*6' .*$" : 'small',
    r"(?i)^.*small.*$" : 'small',
    r"(?i)^.*7' .*$" : 'medium',
    r"(?i)^.*8' .*$" : 'medium',
    r"(?i)^.*9' .*$" : 'medium',
    r"(?i)^.*10' .*$" : 'medium',
    r"(?i)^.*11' .*$" : 'medium',
    r"(?i)^.*12' .*$" : 'medium',
    r"(?i)^.*13' .*$" : 'medium',
    r"(?i)^.*14' .*$" : 'medium',
    r"(?i)^.*15' .*$" : 'medium',
    r"(?i)^.*16' .*$" : 'medium',
     r"(?i)^.*16' .*$" : 'medium',
    r"(?i)^.*17' .*$" : 'big',
    r"(?i)^.*18' .*$" : 'big',
    r"(?i)^.*19' .*$" : 'big',
    r"(?i)^.*20' .*$" : 'big',
    r"(?i)^.*21' .*$" : 'big',
    r"(?i)^.*22' .*$" : 'big',
    r"(?i)^.*23' .*$" : 'big',
}

hl_df['size'].replace(to_replace=shark_sizes_feet_2, regex=True, inplace=True)

In [30]:
hl_df['size'].value_counts()

size
big                                                                 1226
medium                                                               607
small                                                                528
tiger shark                                                          292
Shark involvement prior to death was not confirmed                   105
                                                                    ...
1 m  shark                                                             1
Shark involvement not confirmed, injury may be due to a stingray       1
Species unidentified                                                   1
60 cm [2'] captive shark                                               1
"A pack of sharks"                                                     1
Name: count, Length: 366, dtype: int64

In [38]:
shark_sizes_meters = {
    r"(?i)^.*1 m.*$" : 'small',
    r"(?i)^.*2 m.*$" : 'small',
    r"(?i)^.*3 m.*$" : 'medium',
    r"(?i)^.*4 m.*$" : 'medium',
    r"(?i)^.*5 m.*$" : 'medium',
    r"(?i)^.*6 m.*$" : 'big',
    r"(?i)^.*7 m.*$" : 'big',
    r"(?i)^.*8 m.*$" : 'big',
    r"(?i)^.*9 m.*$" : 'big',
    r"(?i)^.*10 m.*$" : 'big',
    r"(?i)^.*11 m.*$" : 'big',
    r"(?i)^.*12 m.*$" : 'big',
    r"(?i)^.*13 m.*$" : 'big',
    r"(?i)^.*14 m.*$" : 'big',
    r"(?i)^.*large.*$" : 'big'
    
}

hl_df['size'].replace(to_replace=shark_sizes_meters, regex=True, inplace=True)

In [39]:
hl_df['size'].value_counts()

size
big                                                                                          1363
medium                                                                                        795
small                                                                                         637
tiger shark                                                                                   292
Shark involvement prior to death was not confirmed                                            105
                                                                                             ...
 reef shark, 1.8m                                                                               1
Starry smoothhound shark, 1m                                                                    1
Reported by media as shark attack, but shark involvement prior to death was not confirmed       1
Shark involvement not confirmed; thought to be a barracuda bite                                 1
"A pack of sharks"                                                                              1
Name: count, Length: 209, dtype: int64

In [40]:
shark_sizes_meters_2 = {
    r"(?i)^.*1m.*$" : 'small',
    r"(?i)^.*2m.*$" : 'small',
    r"(?i)^.*3m.*$" : 'medium',
    r"(?i)^.*4m.*$" : 'medium',
    r"(?i)^.*5m.*$" : 'medium',
    r"(?i)^.*6m.*$" : 'big',
    r"(?i)^.*7m.*$" : 'big',
    r"(?i)^.*8m.*$" : 'big',
    r"(?i)^.*9m.*$" : 'big',
    r"(?i)^.*10m.*$" : 'big',
    r"(?i)^.*11m.*$" : 'big',
    r"(?i)^.*12m.*$" : 'big',
    r"(?i)^.*13m.*$" : 'big',
    r"(?i)^.*14m.*$" : 'big',
    r"(?i)^.*large.*$" : 'big'
    
}

hl_df['size'].replace(to_replace=shark_sizes_meters_2, regex=True, inplace=True)

In [41]:
hl_df['size'].value_counts()

size
big                                                                           1365
medium                                                                         807
small                                                                          653
tiger shark                                                                    292
Shark involvement prior to death was not confirmed                             105
                                                                              ...
Gray reef shark                                                                  1
24" to 30" shark                                                                 1
Shark involvement not confirmed, injury may have been caused by a bluefish       1
Whitetip reef shark                                                              1
"A pack of sharks"                                                               1
Name: count, Length: 189, dtype: int64

In [42]:
extras = {
    r"(?i)^.*unknown.*$" : 'size unknown',
    r"(?i)^.*small.*$" : 'small shark (<2 m)',
    r"(?i)^.*medium.*$" : 'medium shark (<5 m)',
    r"(?i)^.*big*$" : 'large shark (>5 m)',
    r"(?i)^.*involvement*$" : 'shark involvement not confirmed',
    r"(?i)^.*tiger shark.*$" : 'large shark (>5 m)',
    r"(?i)^.*unconfirmed.*$" : 'shark involvement not confirmed',
    r"(?i)^.*not confirmed.*$" : 'shark involvement not confirmed',
    r"(?i)^.*no shark.*$" : 'shark involvement not confirmed',
    r"(?i)^.*not a shark.*$" : 'shark involvement not confirmed',
    r"(?i)^.*not specified.*$" : 'size unknown',
    r"(?i)^.*unidentified.*$" : 'size unknown',
    r"(?i)^.*unknown.*$" : 'size unknown',
    r"(?i)^.*reef shark.*$" : 'medium shark (<5 m)'
}


hl_df['size'].replace(to_replace=extras, regex=True, inplace=True)

In [43]:
hl_df['size'].value_counts()

size
large shark (>5 m)                 1657
medium shark (<5 m)                 826
small shark (<2 m)                  653
shark involvement not confirmed     333
invalid                             103
                                   ...
18" to 36" shark                      1
24" to 30" shark                      1
Goblin shark, 4.2'                    1
80 kg shark                           1
"A pack of sharks"                    1
Name: count, Length: 142, dtype: int64

In [44]:
overview = hl_df['size'].value_counts().to_dict()
overview

{'large shark (>5 m)': 1657,
 'medium shark (<5 m)': 826,
 'small shark (<2 m)': 653,
 'shark involvement not confirmed': 333,
 'invalid': 103,
 'questionable': 82,
 'size unknown': 24,
 ' ': 7,
 'juvenile shark': 3,
 '18" to 24" shark': 3,
 '3 sharks': 3,
 'Shark involvement not cofirmed': 2,
 '200-lb shark': 2,
 'Silvertip shark': 2,
 'Juvenile shark': 2,
 'Shark involvement probable': 2,
 'Shark involvement doubtful': 2,
 '\xa0 ': 2,
 "5'shark": 2,
 'Blacktip': 2,
 '2 sharks': 2,
 '20 to 30kg shark': 2,
 'A pack of 6 sharks': 2,
 '6 ft shark': 2,
 '"Attacked by a number of sharks"': 1,
 '4.5  m [14\'9"] shark': 1,
 'Bonita sharkk, 200-lb': 1,
 '1,100-lb shark': 1,
 '136-kg [300-lb] shark': 1,
 'Porbeagle shark': 1,
 '"grey shark"': 1,
 'Reportedly a Great White': 1,
 "3.7 [12'] shark": 1,
 '43" shark': 1,
 '8 sharks': 1,
 '193-lb shark': 1,
 '"A long thin brown-colored shark"': 1,
 '60 cm  shark ': 1,
 '36"  shark': 1,
 "Two shark's teeth recovered from canoe": 1,
 '80-lb hooked shark': 1,
 'Reported as  a shark bite but toothmarks appear to be those of a dolphin ': 1,
 '20 kg shark': 1,
 'Several sharks involved': 1,
 'Shark seen feeding on turtle scraps thrown overboard prior to incident.': 1,
 '8-lb shark': 1,
 '100-lb shark': 1,
 '"a little shark"': 1,
 'Tooth fragments recovered from hull': 1,
 '9-foot shark': 1,
 '"grey-colored shark"': 1,
 "Shovelnose shark, 5'": 1,
 'Shovelnose guitarfish, adult male ': 1,
 '"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.': 1,
 'Description of shark does not ring true': 1,
 '234-lb shark': 1,
 'Remains recovered from shark caught days later': 1,
 '"Shark caught later"': 1,
 'Identified as C. gangeticus by Dr. J. Fayrer': 1,
 '68" shark': 1,
 'Blue or porbeagle shark': 1,
 'a school of sharks': 1,
 'Said to involve 2 sharks': 1,
 'Shark was said to “have a very rough ½”-thick skin”': 1,
 '5\'7" shark': 1,
 '13\'10" shark': 1,
 '2 days later a 600-lb shark was caught 100 yards from the site': 1,
 '70 kg shark': 1,
 'Fishermen recovered partial remains from shark a week later': 1,
 'Remains recovered 5 days later': 1,
 'Allegedly a 33-foot shark': 1,
 'Remains recovered from 3 sharks': 1,
 '18-foot shark': 1,
 "15'": 1,
 '"A pack of 6 sharks"': 1,
 '"whiptail shark" (thresher shark?)': 1,
 'Dooley believed his Injury was caused by stingray (Dasyatidae family)': 1,
 "7 shark's teeth found embedded in the woodwork of the boat": 1,
 '"a school of sharks"': 1,
 '650-lb shark': 1,
 '500-lb shark': 1,
 'Reported as a shark attack, the story was a hoax': 1,
 '300-kg [662-lb] shark': 1,
 '2 sharks involved': 1,
 'Shark involvement prior to death still to be determined': 1,
 '3- to 4-foot shark': 1,
 "Silky shark, 6.5'": 1,
 '3+ m shark': 1,
 'Shark involvement highly doubtful': 1,
 'Reported as shark attacks but injuries caused by toadfish': 1,
 'Reported as shark bite but injury caused by stingray': 1,
 'shark pup': 1,
 '1+ m shark': 1,
 'Injuries not caused by a shark': 1,
 '8" shark': 1,
 '  ': 1,
 '5.5 ft shark': 1,
 '8 ft shark': 1,
 "Tope shark, 6'": 1,
 'White xhark': 1,
 'Epaulette shark': 1,
 'While shark': 1,
 'Bu.ll': 1,
 'Tiger  shark?': 1,
 'Authorities report injury caused bya barracuda': 1,
 '18" - 23" Horn shark': 1,
 'Shark involvement not confirmes': 1,
 'Wfite shark': 1,
 'Broze whaler?': 1,
 'Great White': 1,
 '6ft shark': 1,
 'Goblin shark': 1,
 'Cow shark': 1,
 "Porbeagle shark, 7'": 1,
 '"a young shark"': 1,
 'Not authenticated': 1,
 'Considered a "Doubtful" incident': 1,
 '270 kg shark': 1,
 'C. maculpinnis or C. limbatus': 1,
 "13', 400-lb thresher shark": 1,
 '"gray shark"': 1,
 '30-kg [66-lb] shark': 1,
 "6', 100-lb shark": 1,
 '40 to 50 sharks attacked survivors in the water': 1,
 '150-lb shark': 1,
 'Shark involvement prior to death could not be determined': 1,
 'Leopard shark': 1,
 '"juvenile shark"': 1,
 'Thresher shark': 1,
 'Soupfin shark': 1,
 '200 to 300 kg shark': 1,
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks': 1,
 "60 cm [2'] captive shark": 1,
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee': 1,
 "106 cm [3.5']  shark": 1,
 '60 cm [23.6"] blind or brown shark': 1,
 '"black tipped" shark': 1,
 '18" to 36" shark': 1,
 '24" to 30" shark': 1,
 "Goblin shark, 4.2'": 1,
 '80 kg shark': 1,
 '"A pack of sharks"': 1}

In [45]:
further_cleaning = {
    'large shark (>5 m)': 1,
 'medium shark (<5 m)': 2,
 'small shark (<2 m)': 3,
 'shark involvement not confirmed': 5,
 'invalid': 6,
 'questionable': 5,
 'size unknown': 4,
 'juvenile shark': 4,
 '18" to 24" shark': 3,
 '3 sharks': 4,
 'Shark involvement not cofirmed': 5,
 '200-lb shark': 1,
 'Silvertip shark': 2,
 'Juvenile shark': 4,
 'Shark involvement probable': 5,
 'Shark involvement doubtful': 5,
 '\xa0 ': 4,
 "5'shark": 3,
 'Blacktip': 3,
 '2 sharks': 4,
 '20 to 30kg shark': 3,
 'A pack of 6 sharks': 4,
 '6 ft shark': 3,
 '"Attacked by a number of sharks"': 4,
 '4.5  m [14\'9"] shark': 2,
 'Bonita sharkk, 200-lb': 2,
 '1,100-lb shark': 1,
 '136-kg [300-lb] shark': 2,
 'Porbeagle shark': 2,
 '"grey shark"': 2,
 'Reportedly a Great White': 1,
 "3.7 [12'] shark": 2,
 '43" shark': 3,
 '8 sharks': 4,
 '193-lb shark': 2,
 '"A long thin brown-colored shark"': 1,
 '60 cm  shark ': 2,
 '36"  shark': 3,
 "Two shark's teeth recovered from canoe": 4,
 '80-lb hooked shark': 3,
 'Reported as  a shark bite but toothmarks appear to be those of a dolphin ': 5,
 '20 kg shark': 3,
 'Several sharks involved': 4,
 'Shark seen feeding on turtle scraps thrown overboard prior to incident.': 4,
 '8-lb shark': 3,
 '100-lb shark': 2,
 '"a little shark"': 3,
 'Tooth fragments recovered from hull': 4,
 '9-foot shark': 2,
 '"grey-colored shark"': 3,
 "Shovelnose shark, 5'": 2,
 'Shovelnose guitarfish, adult male ': 2,
 '"The fish was harpooned, dried, and presented to the sailor, who went round Europe exhibiting it  It was said to be 20 feet long.': 1,
 'Description of shark does not ring true': 5,
 '234-lb shark': 1,
 'Remains recovered from shark caught days later': 4,
 '"Shark caught later"': 4,
 'Identified as C. gangeticus by Dr. J. Fayrer': 2,
 '68" shark': 3,
 'Blue or porbeagle shark': 2,
 'a school of sharks': 4,
 'Said to involve 2 sharks': 4,
 'Shark was said to “have a very rough ½”-thick skin”': 4,
 '5\'7" shark': 3,
 '13\'10" shark': 2,
 '2 days later a 600-lb shark was caught 100 yards from the site': 1,
 '70 kg shark': 2,
 'Fishermen recovered partial remains from shark a week later': 4,
 'Remains recovered 5 days later': 4,
 'Allegedly a 33-foot shark': 1,
 'Remains recovered from 3 sharks': 4,
 '18-foot shark': 1,
 "15'": 2,
 '"A pack of 6 sharks"': 4,
 '"whiptail shark" (thresher shark?)': 1,
 'Dooley believed his Injury was caused by stingray (Dasyatidae family)': 5,
 "7 shark's teeth found embedded in the woodwork of the boat": 4,
 '"a school of sharks"': 4,
 '650-lb shark': 1,
 '500-lb shark': 2,
 'Reported as a shark attack, the story was a hoax': 5,
 '300-kg [662-lb] shark': 1,
 '2 sharks involved': 4,
 'Shark involvement prior to death still to be determined': 5,
 '3- to 4-foot shark': 3,
 "Silky shark, 6.5'": 2,
 '3+ m shark': 2,
 'Shark involvement highly doubtful': 5,
 'Reported as shark attacks but injuries caused by toadfish': 5,
 'Reported as shark bite but injury caused by stingray': 5,
 'shark pup': 3,
 '1+ m shark': 3,
 'Injuries not caused by a shark': 5,
 '8" shark': 3,
 '5.5 ft shark': 3,
 '8 ft shark': 2,
 "Tope shark, 6'": 3,
 'White xhark': 1,
 'Epaulette shark': 3,
 'While shark': 1,
 'Bu.ll': 1,
 'Tiger  shark?': 1,
 'Authorities report injury caused bya barracuda': 5,
 '18" - 23" Horn shark': 3,
 'Shark involvement not confirmes': 5,
 'Wfite shark': 1,
 'Broze whaler?': 2,
 'Great White': 1,
 '6ft shark': 3,
 'Goblin shark': 2,
 'Cow shark': 3,
 "Porbeagle shark, 7'": 2,
 '"a young shark"': 3,
 'Not authenticated': 5,
 'Considered a "Doubtful" incident': 5,
 '270 kg shark': 2,
 'C. maculpinnis or C. limbatus': 2,
 "13', 400-lb thresher shark": 2,
 '"gray shark"': 2,
 '30-kg [66-lb] shark': 3,
 "6', 100-lb shark": 3,
 '40 to 50 sharks attacked survivors in the water': 4,
 '150-lb shark': 3,
 'Shark involvement prior to death could not be determined': 5,
 'Leopard shark': 2,
 '"juvenile shark"': 3,
 'Thresher shark': 1,
 'Soupfin shark': 3,
 '200 to 300 kg shark': 2,
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks': 3,
 "60 cm [2'] captive shark": 3,
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee': 3,
 "106 cm [3.5']  shark": 3,
 '60 cm [23.6"] blind or brown shark': 3,
 '"black tipped" shark': 3,
 '18" to 36" shark': 3,
 '24" to 30" shark': 3,
 "Goblin shark, 4.2'": 2,
 '80 kg shark': 3,
 '"A pack of sharks"': 4
}

hl_df['size'].replace(further_cleaning, inplace=True)

In [46]:
categories = {
    1 : 'large shark (>5 m)',
    2 : 'medium shark (<5 m)',
    3 : 'small shark (<2 m)',
    4 : 'size unknown',
    5 : 'questionable',
    6 : 'invalid'
}

hl_df['size'].replace(categories, inplace=True)

In [47]:
hl_df['size'].value_counts()

size
large shark (>5 m)     1677
medium shark (<5 m)     859
small shark (<2 m)      698
questionable            435
invalid                 103
size unknown             58
                          7
                          1
Name: count, dtype: int64

In [51]:
hl_df['size'].fillna('size unknown', inplace=True)

In [56]:
hl_df['size'].value_counts()

size
size unknown           3190
large shark (>5 m)     1677
medium shark (<5 m)     859
small shark (<2 m)      698
questionable            435
invalid                 103
                          7
                          1
Name: count, dtype: int64

In [59]:
hl_df.eq(" ").sum()

year        0
country     0
sex         0
age         2
activity    1
injury      1
type        0
size        7
dtype: int64

In [60]:
final_touches = {
    ' ' : 'size unknown',
    '  ' : 'size unknown'
}

hl_df['size'].replace(final_touches, inplace=True)

In [67]:
hl_df['size'].value_counts()

size
size unknown           3198
large shark (>5 m)     1677
medium shark (<5 m)     859
small shark (<2 m)      698
questionable            435
invalid                 103
Name: count, dtype: int64

In [73]:
activities = hl_df['activity'].value_counts().to_dict()
activities

{'Surfing': 1124,
 'Swimming': 984,
 'Fishing': 489,
 'Spearfishing': 384,
 'Wading': 176,
 'Bathing': 163,
 'Diving': 142,
 'Snorkeling': 129,
 'Standing': 113,
 'Scuba diving': 84,
 'Body boarding': 63,
 'Body surfing': 50,
 'Swimming ': 47,
 'Boogie boarding': 42,
 'Kayaking': 39,
 'Treading water': 33,
 'Free diving': 33,
 'Pearl diving': 32,
 'Fell overboard': 32,
 'Windsurfing': 20,
 'Boogie Boarding': 17,
 'Walking': 17,
 'Floating': 16,
 'Canoeing': 16,
 'Fishing ': 16,
 'Shark fishing': 15,
 'Surf fishing': 14,
 'Surf-skiing': 13,
 'Playing': 13,
 'Surf skiing ': 12,
 'Freediving': 12,
 'Scuba Diving': 12,
 'Surf skiing': 12,
 'Rowing': 12,
 'sand tiger': 11,
 'Fishing for sharks': 11,
 'Paddle boarding': 11,
 'Sponge diving': 10,
 'Sailing': 9,
 'Kayak Fishing': 9,
 'Sitting on surfboard': 9,
 'Fell into the water': 9,
 'Diving for trochus': 9,
 'Stand-Up Paddleboarding': 9,
 'Spearfishing ': 8,
 'Sea disaster': 8,
 'Shipwreck': 7,
 'Kayak fishing': 7,
 'Floating on his back': 7,
 'Surfing (sitting on his board)': 7,
 'Free diving for abalone': 7,
 'Skindiving': 7,
 'Body Boarding': 6,
 'Kite Surfing': 6,
 'Sea Disaster': 6,
 'Spearfishing on Scuba': 6,
 'dog shark': 6,
 'Fishing for mackerel': 6,
 'Murder': 6,
 'Kite surfing': 6,
 'Feeding sharks': 5,
 'Boat': 5,
 'Fishing on a boat': 5,
 'Paddleskiing': 5,
 'Surfing ': 5,
 'Dangling feet in the water': 5,
 'Hard hat diving': 5,
 'Freedom swimming': 5,
 'Diving for abalone': 5,
 'Seine netting': 4,
 'Kayaking / Fishing': 4,
 'Watercraft': 4,
 'Clamming': 4,
 'Diving for coins': 4,
 'Lifesaving drill': 4,
 'Wade Fishing': 4,
 'Fishing boat': 4,
 'Jumped overboard': 4,
 'Freedom Swimming': 4,
 'Scuba diving (but on surface)': 4,
 'Body-boarding': 4,
 'Jumped into the water': 4,
 'Jumping': 4,
 'Tagging sharks': 4,
 'Skin diving': 4,
 'Spearfishing / free diving': 4,
 'Scuba diving (submerged)': 4,
 'Paddling on surfboard': 4,
 'Body Surfing': 4,
 'Boat swamped': 4,
 'Splashing': 4,
 'Surfing, paddling seawards': 3,
 'Escaping from Alacatraz': 3,
 'SUP': 3,
 'Diving for sponges': 3,
 'Fishing for snapper': 3,
 'Spearfishing (free diving)': 3,
 'Wade fishing': 3,
 'Boating': 3,
 'Diving ': 3,
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days': 3,
 'Crayfishing': 3,
 'Walking out of the water after surfing': 3,
 'Wreck of the schooner Pohoiki ': 3,
 'Shark watching': 3,
 'Spearfishing / Scuba diving (at surface)': 3,
 'Feeding fish': 3,
 'Sitting on gunwale of boat': 3,
 'Crabbing': 3,
 'Paddling': 3,
 'Bathing ': 3,
 'Playing in the water': 3,
 'white shark': 3,
 '.': 3,
 'Sculling': 3,
 'Spearing fish': 3,
 'Jumped overboard ': 3,
 'Fishing for bluefish': 3,
 'Standing in knee-deep water': 3,
 'Suicide': 3,
 'Knocked overboard': 3,
 'Shell diving': 3,
 'Unknown': 3,
 'Competing in the Woodvale Atlantic Rowing Race': 3,
 'Swimming after his hat': 3,
 'boat capsized': 3,
 'Playing in the surf': 3,
 'Sitting': 3,
 'Diving for crayfish': 3,
 'Fishing for kob': 3,
 'SCUBA diving': 3,
 'Floating on a raft': 3,
 'Free diving & spearfishing': 3,
 'Wade-fishing': 3,
 'Boat with 5 men capsized while returning to the Amerique': 2,
 'Diving for beche-de-mer ': 2,
 'Jet skiing': 2,
 'Kite Boarding': 2,
 'Fishing for prawns': 2,
 'basking shark': 2,
 'Air disaster': 2,
 'Fishing from surf ski': 2,
 'Spearfishing using Scuba': 2,
 'Hoisting shark aboard fishing boat': 2,
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water': 2,
 'Free diving / spearfishing': 2,
 'Free diving ': 2,
 'Diving for abalone ': 2,
 'Fishing for whiting': 2,
 'Spearfishing / Scuba diving': 2,
 'Swimming alongside NOAA research vessel Discoverer': 2,
 'Fishing (Seining)': 2,
 'Sitting in shallows': 2,
 'Cruising': 2,
 'Air Disaster': 2,
 'Rowing ': 2,
 'Fishing for cod': 2,
 'Shark tagging': 2,
 'Shrimping': 2,
 'Thrown overboard': 2,
 'Diving for trochus shell': 2,
 'Free-diving': 2,
 'Body surfing / treading water': 2,
 'Standing / Surfing': 2,
 'Swimming or surfing': 2,
 'Free diving, Spearfishing': 2,
 'Floating in inner tube': 2,
 'Bathing in river': 2,
 'Surfing (lying prone on his board)': 2,
 'Washing his feet': 2,
 'Beach seine netting': 2,
 'Spearfishing Competition': 2,
 'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water': 2,
 'Boat capsized, swimming ashore': 2,
 'Standing in waist-deep water': 2,
 'Fishing for squid': 2,
 'HMAS Parramatta torpedoed & sunk by the U-559': 2,
 'Swimming / escaping imprisonment ': 2,
 'Fishing for tuna': 2,
 'Diving into water': 2,
 'Swimming / snorkeling': 2,
 'Diving from canoe': 2,
 'Ocean racing': 2,
 'Collecting shells': 2,
 'Diving / Filming': 2,
 'Surfing, collided with shark': 2,
 'Launching rowboat through the surf': 2,
 'Cleaning fish': 2,
 'Attempting to kill a shark with explosives': 2,
 'Finning the shark that bit him': 2,
 'Cage Diving': 2,
 'Scuba diving & spearfishing': 2,
 'Floating on back': 2,
 'Diving off jetty': 2,
 'Teasing a shark': 2,
 'Diving for beche-de-mer': 2,
 'Swimming / Wading': 2,
 '"Flying Tiger" transport plane went down with 5 men onboard': 2,
 'Hookah diving for sea urchins': 2,
 'Free diving / Spearfishing': 2,
 'Floating ': 2,
 'Transatlantic Rowing': 2,
 'Diving?': 2,
 'Swimming ashore from capsized boat': 2,
 'Diving for abalone (Hookah)': 2,
 'Filming': 2,
 'Standing ': 2,
 'fishing boat exploded & sank': 2,
 'Paddleboarding': 2,
 'Lobstering': 2,
 'Swimming near jetty': 2,
 'Aircraft crashed into sea': 2,
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy': 2,
 'Swimming, ducking for shells in water 0.9 m deep': 2,
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.': 2,
 'Wing Foil Surfing': 2,
 'Scuba diving for abalone': 2,
 'Swimming from the New Venture ': 2,
 'Skimboarding': 2,
 'Sitting in the water': 2,
 'Shooting sharks ': 2,
 'Shark diving': 2,
 'blue shark': 2,
 'Kite boarding': 2,
 'Kayaking ': 2,
 'Diving for lobsters': 2,
 'Kitesurfing': 2,
 'Washing': 2,
 'Diving around anchored liner': 2,
 'Dived for a coin': 2,
 'Kiteboarding': 2,
 'Splashing ': 2,
 'Spearfishing / Free diving': 2,
 'Fishing for lobsters': 2,
 'His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation  ': 1,
 'Washed off freighter Huncliff by a freak wave': 1,
 'U-177 torpedoed & sank the troopship Nova Scotia': 1,
 'Bathing/Swimming': 1,
 'Thrown from destroyer when shell hit': 1,
 'Adrift on life raft': 1,
 'Fishing for bluefish, shark leapt into dory': 1,
 'On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks': 1,
 'Fishing with dynamite, afterwards in water retrieving catch': 1,
 'Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.': 1,
 'Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85': 1,
 'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared': 1,
 'Dived into the water': 1,
 'The Pacquebot Laconia, enroute to Liverpool with 600 Italian prisoners onboard, was torpedoed by the German submarine  U-156 and only 2 rafts were launched before the ship went down. Unable to board an overcrowded raft, he was swimming.': 1,
 'male': 1,
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ': 1,
 'Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down': 1,
 'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru': 1,
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ': 1,
 'Fell overboard, hanging onto lifebuoy': 1,
 'Diving for beche-de-mer from lugger': 1,
 "Fishing, removing gaff from shark's mouth": 1,
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force. ': 1,
 'B-24 crashed during a search mission. Survivors in raft for 47 days ': 1,
 'Freediving for trochus shell (submerged)': 1,
 'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129': 1,
 'Swimming with board': 1,
 'Swimming & splashing': 1,
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21': 1,
 'Dived overboard to check propeller of US Navy motor torpedo boat': 1,
 'Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface': 1,
 'Taken as he dived into the water': 1,
 'Free diving for trochus shell, swimming to dinghy': 1,
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134': 1,
 'Swimming (lead swimmer in race)': 1,
 'Surfing (pneumatic surfboard)': 1,
 'Hauling in net with shark in it': 1,
 'Touching the mouth of a supposedly dead shark': 1,
 'Pearl diving, but standing in the water': 1,
 'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177': 1,
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover': 1,
 'Put foot inside mouth of supposedly dead shark': 1,
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished': 1,
 'Diving from dinghy for trochus shell': 1,
 'Standing in water with child in her arms': 1,
 'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci': 1,
 'Dress diving, filming shark & pulling it through the water for a motion picture scene': 1,
 'Disappeared 11 days earlier, probable homicide victim': 1,
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo': 1,
 'Put foot inside a landed & supposedly dead shark': 1,
 'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford': 1,
 'Diving for trochus , but swimming on surface': 1,
 'Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ': 1,
 'Fishing from launch, fell into net with shark': 1,
 'Fishing for perch': 1,
 'Diving from the lugger San, operated by the Protector of the Aborigines': 1,
 'Pleasure boating': 1,
 'The troopship Britannia was sunk by the German raider Thor': 1,
 'Two canoes with 14 aboard blown to sea in a storm. While adrift for 3 week, one person fell overboard and was killed by a shark': 1,
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather': 1,
 'Sailing from Gingood, Misamis Oriental to Sagay (normally a 2-day voyage) capsized with 6 on board, three men were taken by sharks when they attempted to swim to shore.': 1,
 'Swimming alongside warship   Tsingt-ao': 1,
 'Ditched aircraft, 3 men in the water. Swam for 31 hours': 1,
 "Fishing from 32' boat": 1,
 'Swimming at edge of channel': 1,
 'SS Ethel Skakel foundered in Central America Hurricane of 1941': 1,
 'Watching seine netters with friends, one of whom picked up a netted shark': 1,
 'Swimming along side N.E.L. vessel Saluda': 1,
 'Canoe capsized by shark': 1,
 'Jumped overboard from torpedoed Panamanian freighter': 1,
 'Plane forced down, 3 men on rubber life raft. Put hand over side to feel drift of boat ': 1,
 'German raider Kormoran was sunk in an engagement with HMAS Sydney': 1,
 'Ditched plane in the sea & were adrift on a rubber life raft. ': 1,
 "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra": 1,
 'Swimming, naked': 1,
 'Hardhat diving': 1,
 'British cruiser Dunedin torpedoed & sunk by the U-124': 1,
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered': 1,
 'Torpedoed & burning British  light cruiser with a crew of 450 men': 1,
 'Swimming to anchored boat': 1,
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126': 1,
 'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ': 1,
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours': 1,
 'Free diving for lobster': 1,
 'Hardhat diving from Japanese pearling lugger, Reiyo Maru': 1,
 'Collecting fish in military trap when bitten by captured shark that had been shot by soldiers with Garten': 1,
 'Fishing, catching snoek, Thyrsites atun': 1,
 'Swimming crawl stroke': 1,
 'Swept overboard': 1,
 'Trochus diving, but floating on surface': 1,
 'Wreck of a sampam': 1,
 'Fishing for the shark that killed George Lundberg': 1,
 'Diving, attempting to retrieve body of drowning victim wedged between rocks': 1,
 'A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks': 1,
 'boat capsized during filming': 1,
 'Plane crashed in water, men in life raft': 1,
 'Slipped off rocks and fell into the water': 1,
 'On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup': 1,
 'Scooping prawns': 1,
 'Diving from lugger': 1,
 "Holding shark's tail ": 1,
 'Adrift on raft after their ship was sunk by an Axis raider ': 1,
 'Japanese freighter Bokuyo Maru burned & sank': 1,
 "12 of the Penang's crew were returning to the ship when their 12' dinghy capsized": 1,
 'Rescuing seaman after ship sunk by German raider': 1,
 'Swimming ashore after launch capsized': 1,
 'She was on a ship that was torpedoes & was in the water awaiting rescue': 1,
 'Refused permission to cross on the ferry, he was swimming across the river': 1,
 'Spearfishing & had just speared a ulua': 1,
 'Swimming - jumped off yacht': 1,
 'Fell overboard from USS Ward': 1,
 'B-24 aircraft crashed  into the sea': 1,
 'Swimming with speared fish': 1,
 'Fishing from boat, Kaimamla': 1,
 'Spearfishing or fishing': 1,
 'Swimming near breakwater': 1,
 'Hunting turtle': 1,
 'Spearfishing & lassoed shark': 1,
 'Fishing for pompano': 1,
 'Removing shark from net ': 1,
 'Swimming off yacht': 1,
 'Attempting to set underwater endurance record': 1,
 'Swimming, attacked at  surf carnival': 1,
 'Free diving, working on U/W scenes for motion picture': 1,
 'Air/Sea Disaster': 1,
 'Longling fishing': 1,
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air': 1,
 'Free diving for crayfish': 1,
 'Swimming near pier': 1,
 'Climbing back on ship': 1,
 'Skindiving, fish at belt': 1,
 "Competing in U/W endurance record, standing beside drum in 10' of water": 1,
 'Rowing toward snapper grounds': 1,
 'Hunting lobsters in 2.4 m of water': 1,
 'Pearl diving from lugger Whyalla': 1,
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew': 1,
 'Fishing from market fishboat Sea Spray': 1,
 'Aircaft exploded': 1,
 'Swimming or wading out  to warn bathers that a shark had been seen': 1,
 'Crouching in the water': 1,
 'Fishing from shore': 1,
 'Fishing / cleaning fish, dived into water to retrieve a lost fish': 1,
 'Bathing alongside ship': 1,
 'Grabbed shark & threw it on deck': 1,
 'Crossing the bay at the ford': 1,
 'Fishing trawler Flavio Gioia ': 1,
 'Closed circuit diving (submerged). Diving to recover jettisoned packets of opium for police': 1,
 'Tuna fishing, standing on stern platform that was submerged by waves': 1,
 'Spearfishing, hunting crayfish': 1,
 'Fishing  (trawling)': 1,
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas': 1,
 'Swimming near canoe': 1,
 'Dived overboard & was swimming near stern of trawler': 1,
 "Spearfishing, holding 5' speared fish": 1,
 'Free diving for sinkers': 1,
 'Dynamiting fish': 1,
 'Working prawn net': 1,
 'Spear fishing': 1,
 'Paddling & sailing from Buenos Aires to Miami': 1,
 'Swimming ashore from fishing boat swamped and sunk by a squall': 1,
 'Dragging banana seeds through the shallows': 1,
 'Surfing, but treading water': 1,
 'In deep water about 100 yards from his ship': 1,
 'Swimming with motor tube': 1,
 'Washed overboard into school of fish': 1,
 'Bathing with sister': 1,
 'Cleaning hull of ship ': 1,
 'Fell into water while attempting to boat a swordfish': 1,
 'On boat, preparing to dive': 1,
 'Lifeboat capsized': 1,
 'Diving for pearl shell': 1,
 'Jumped overboard to rescue a man': 1,
 'Columbian petrol barge Rio Atrato burned and sank': 1,
 'Dragging stranded shark ashore': 1,
 'Spearfishing (but on surface)': 1,
 'Surfing on air mattress': 1,
 'Slapped shark on tail as it swam by': 1,
 'Helmet diving in Miami Seaquarium': 1,
 'Fishing (trolling)': 1,
 'Skindiving for specimens': 1,
 'Swimming between  anchored  pearling luggers': 1,
 '3 men & 2 boys picked up wearing life jackets and with inner tube': 1,
 'Competing in spearfishing championship & towing dead fish': 1,
 'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.': 1,
 'Attempting to net shark in shark channel': 1,
 'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea': 1,
 'Fishing, walking in river to cast': 1,
 'Fishing, holding fish': 1,
 '"Climbing up to ship after repairing the stern in water"': 1,
 'Placed hand in disemboweled shark’s jaws': 1,
 'Spearfishing / swimming on surface': 1,
 'Fishing, holding fish in his left hand': 1,
 'Swimming with goggles': 1,
 'Paddling in knee-deep water': 1,
 'Swimming, towing the shark': 1,
 'Spearfishing, had fish on his spear': 1,
 'Boat stopped to repair electric pump': 1,
 'Retrieving bait box that had fallen overboard': 1,
 'Landing hooked shark in boat': 1,
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse': 1,
 'Spearing a shark': 1,
 'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water': 1,
 'Fishing in waist-deep water': 1,
 'Fishing / diving': 1,
 'Fishing, holding fish in right hand': 1,
 'Underwater photography': 1,
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea': 1,
 'Bringing hooked, harpooned shark onboard boat': 1,
 'Fishing, shark caught in his net': 1,
 'Bathing or washing': 1,
 "Swimming near jetty with 2' piece of wood": 1,
 'Leicester abandoned in a hurricane': 1,
 'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board': 1,
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn’t notice they were missing': 1,
 'Treading water, waiting for a wave': 1,
 'Swimming close to wharf': 1,
 'Fishing, on a boat': 1,
 'Lifesaving exhibition': 1,
 'Bathing in water 0.9 m deep': 1,
 'Attempting to ride a shark': 1,
 'Pearl diving from lugger': 1,
 'A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris': 1,
 'Swimming near life raft': 1,
 'Adrift on raft': 1,
 'Washed overboard by swell': 1,
 'Fell overboard from US Navy PC boat': 1,
 'Japanese POW ship Arisan Maru with 1800 American prisoners of war on board bound for slave labor camps was torpedoed by an American submarine': 1,
 'Parachuted into Pacific': 1,

In [77]:
act_replace = {
    r"(?i)^.*surf.*$" : 'surfing',
    r"(?i)^.*swim.*$" : 'swimming',
    r"(?i)^.*div.*$" : 'diving',
    r"(?i)^.*fishing.*$" : 'fishing',
    r"(?i)^.*wading.*$" : 'bathing',
    r"(?i)^.*plane.*$" : 'watercraft',
    r"(?i)^.*air.*$" : 'watercraft',
    r"(?i)^.*boa.*$" : 'boat sports',
    r"(?i)^.*wreck.*$" : 'watercraft',
    r"(?i)^.*sink.*$" : 'watercraft',
    r"(?i)^.*sunk.*$" : 'watercraft',
    r"(?i)^.*sank.*$" : 'watercraft',
    r"(?i)^.*bath.*$" : 'bathing',
    r"(?i)^.*disaster.*$" : 'watercraft',
    r"(?i)^.*snorkel.*$" : 'diving',
    r"(?i)^.*stand.*$" : 'bathing',
    r"(?i)^.*walk.*$" : 'bathing',
    r"(?i)^.*kayak.*$" : 'boat sports',
    r"(?i)^.*canoe.*$" : 'boat sports',
    r"(?i)^.*sailing.*$" : 'boat sports',
    r"(?i)^.*fell.*$" : 'watercraft',
    r"(?i)^.*ding.*$" : 'watercraft',
    r"(?i)^.*net.*$" : 'fishing',
    r"(?i)^.*fish.*$" : 'fishing',
    r"(?i)^.*float.*$" : 'bathing',
    r"(?i)^.*playing.*$" : 'bathing',
    r"(?i)^.*splash.*$" : 'bathing',
    r"(?i)^.*jump.*$" : 'bathing',
    r"(?i)^.*watercraft.*$" : 'watercraft',
    r"(?i)^.*skii.*$" : 'boat sports',
    r"(?i)^.*rowi.*$" : 'boat sports',
    r"(?i)^.*film.*$" : 'diving',
    r"(?i)^.*clam.*$" : 'bathing',
    r"(?i)^.*sit.*$" : 'bathing',
    r"(?i)^.*shells.*$" : 'bathing',
    r"(?i)^.*lobster.*$" : 'bathing',
    r"(?i)^.*drift.*$" : 'watercraft',
    r"(?i)^.*sup.*$" : 'boat sports',
    r"(?i)^.*murder.*$" : 'others',
    r"(?i)^.*suicide.*$" : 'others',
    r"(?i)^.*pad.*$" : 'boat sports',
    r"(?i)^.*shark.*$" : 'teasing shark',
    r"(?i)^.*scull.*$" : 'boat sports',
    r"(?i)^.*founder.*$" : 'watercraft',
    r"(?i)^.*harp.*$" : 'watercraft',
    
}

hl_df['activity'].replace(to_replace=act_replace, regex=True, inplace=True)

In [80]:
hl_df['activity'].value_counts()

activity
surfing                                       1434
fishing                                       1244
swimming                                      1229
diving                                         752
bathing                                        649
                                              ...
Arsinoe, a French tanker                         1
Collecting marine specimens                      1
Searching for remains of  Dr. Marais             1
Lying in 2 feet of water                         1
A group of survivors on a raft for 17-days       1
Name: count, Length: 180, dtype: int64

In [81]:
overview_2 = hl_df['activity'].value_counts().to_dict()
overview_2

{'surfing': 1434,
 'fishing': 1244,
 'swimming': 1229,
 'diving': 752,
 'bathing': 649,
 'boat sports': 492,
 'watercraft': 275,
 'teasing shark': 96,
 'others': 12,
 'sand tiger': 11,
 'Dangling feet in the water': 5,
 'Lifesaving drill': 4,
 'Unknown': 3,
 'Crabbing': 3,
 'Escaping from Alacatraz': 3,
 '.': 3,
 'Washing his feet': 2,
 'Ocean racing': 2,
 'Shrimping': 2,
 'Washing': 2,
 'Cruising': 2,
 'Washing clothes': 1,
 'Taking wife to beach & about 1 m from the shore': 1,
 'Cutter capsized': 1,
 'Knocked into the water': 1,
 'The coastwise steamer San Basilio capsized in a typhoon': 1,
 'No details': 1,
 'Reported swept away by waves while gathering opihi': 1,
 'Dismantling cable buoys of the cable ship All America': 1,
 'Dry shelling': 1,
 'Attempting to rescue drowning man': 1,
 'The steamer Tahiti collided with the ferry Greycliffe': 1,
 'Defecating in water beneath the docks': 1,
 'Retrieving meat from a cage in the water': 1,
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people': 1,
 'Catching a turtle': 1,
 'Hurricane & Tidal Wave': 1,
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21': 1,
 'Yacht of Michael Howell capsized': 1,
 'B-24 crashed during a search mission. Survivors in raft for 47 days ': 1,
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover': 1,
 'Thrown from destroyer when shell hit': 1,
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ': 1,
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126': 1,
 'Torpedoed & burning British  light cruiser with a crew of 450 men': 1,
 'male': 1,
 'Parachuted into Pacific': 1,
 'Washed off freighter Huncliff by a freak wave': 1,
 'Washing horses': 1,
 '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore': 1,
 'Underwater photography': 1,
 'Scooping prawns': 1,
 'She was on a ship that was torpedoes & was in the water awaiting rescue': 1,
 'Leicester abandoned in a hurricane': 1,
 'Lifesaving exhibition': 1,
 'Disappeared 11 days earlier, probable homicide victim': 1,
 'Abandoning burning steamship Don Juan': 1,
 'Catching crabs': 1,
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"': 1,
 'Burning of the S.S. Missouri': 1,
 'Painting a ship': 1,
 'Coming ashore on a hawser': 1,
 'Reaching for life preserver': 1,
 'Trying to catch a wounded bird': 1,
 'Deserting the bark Nazarene': 1,
 'ship William Penn grounded & broke apart': 1,
 'Hilo': 1,
 'Hooking into a whale': 1,
 ' ': 1,
 'American schooner Orator capsized  ': 1,
 'Washing himself': 1,
 'Ship lay at anchor & man was working on its rudder': 1,
 'Swmming': 1,
 'Washing his pig in preparation for a religious ceremony': 1,
 'A dhow capsized': 1,
 'yachtsman in a zodiac': 1,
 'Crossing river on a raft': 1,
 'Washed off raft': 1,
 'The steamship Bonnie Dundee lost in collision': 1,
 'yachting accident': 1,
 'Oystering': 1,
 'Trailing hand in the water': 1,
 'Loss of the schooner Nomad': 1,
 'Angling': 1,
 'Hunting seals': 1,
 '"Crossing the river"': 1,
 'Body found on deserted luxury yacht, 38’ Christine': 1,
 'HMS Victoria collided with the HMS Camperdown': 1,
 'His balloon crashed in the harbor': 1,
 'Attempting to rescue shipmate': 1,
 'Fleeing across a river': 1,
 'Parachuted from balloon': 1,
 'Cleaning the side of a ship': 1,
 'The steamships Thingvalla and Geiser collided': 1,
 'Probabable drowning': 1,
 'Crossing the river mouth': 1,
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore': 1,
 'British ship Macedon was thrown on her beam ends by a sudden squall': 1,
 'Swept off deck of S.S.Frontenac enroute from West Indies to US': 1,
 'Pulling anchor': 1,
 'Crouching in the water': 1,
 'Crossing the bay at the ford': 1,
 'Yacht race': 1,
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ': 1,
 "Crouching in 2' of water": 1,
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours': 1,
 'Collecting beche-de-mer': 1,
 'Hiking on the beach': 1,
 'Batin': 1,
 'Attempting to catch a crocodile': 1,
 'Conducting research': 1,
 'Attempting to illegally enter the USA': 1,
 "Lying prone in 2' of water": 1,
 "Scientific research (Dr. Sonny Gruber's student)": 1,
 'Watching seals': 1,
 'Attempting to attract dolphins': 1,
 'Boeing 757 enroute from Porta Plata plunged into the sea': 1,
 '   ': 1,
 'pêcheur de bichiques': 1,
 'Crawling': 1,
 'Rescuing': 1,
 'Attempting to fix motor': 1,
 'Scalloping': 1,
 'Military ocean training': 1,
 'On a round-the-world expedition': 1,
 'Towing a dead whale out to sea': 1,
 'Watching the sardine run': 1,
 'Spearishing': 1,
 'Lifeguard Training Exercise': 1,
 'Lifeguard Exercises': 1,
 'Fihing': 1,
 'Kneeling in the water': 1,
 'Squatting in the water': 1,
 'Kite Foiling': 1,
 'Sightseeing': 1,
 'Picking opihi': 1,
 'Photo shoot': 1,
 'Kakaying': 1,
 'Washing hands': 1,
 'Vessel caught fire & capsized, survivors in the water': 1,
 'Dropping anchor': 1,
 'NSB Meshing': 1,
 'Gigging for flounder': 1,
 'Attaching a line at sea': 1,
 'Cleaning a tank': 1,
 'Collecting aquarium specimens': 1,
 'Pacific Seafarer of US Navy': 1,
 'Hand lining for shad': 1,
 'Pulling raft out to ride to shore': 1,
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion': 1,
 'On inflatable raft': 1,
 'Abandoning burning ship Captain George in raging seas': 1,
 'In deep water about 100 yards from his ship': 1,
 'Dragging banana seeds through the shallows': 1,
 'Cleaning hull of ship ': 1,
 '3 men & 2 boys picked up wearing life jackets and with inner tube': 1,
 'Climbing back on ship': 1,
 'Attempting to set underwater endurance record': 1,
 'Hunting turtle': 1,
 'Rolled off raft': 1,
 'Washed into sea while picking opihi': 1,
 'Racing ski': 1,
 'Washing cooking pans': 1,
 'Steinhart Aquarium': 1,
 'Ran into the water': 1,
 'In waist-deep water': 1,
 'Yacht Trashman capsized in storm': 1,
 'Catching sardines': 1,
 'Ferry capsized': 1,
 'Crabbing (spearing crabs)': 1,
 'Sight-seeing': 1,
 'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished': 1,
 'Leaving the water': 1,
 'Vehicle plunged over cliff into the water': 1,
 'Overturned skiff': 1,
 'Arsinoe, a French tanker': 1,
 'Collecting marine specimens': 1,
 'Searching for remains of  Dr. Marais': 1,
 'Lying in 2 feet of water': 1,
 'A group of survivors on a raft for 17-days': 1}

In [84]:
clean_activities = {
    'surfing': 1,
 'fishing': 5,
 'swimming': 3,
 'diving': 4,
 'watercraft': 7,
 'boat sports': 6,
 'bathing': 2,
 'teasing shark': 8,
 'others': 9,
 'Dangling feet in the water': 2,
 'Lifesaving drill': 3,
 'Escaping from Alacatraz': 7,
 'Unknown': 9,
 'Crabbing': 2,
 'Washing': 2,
 'Shrimping': 2,
 'Cruising': 2,
 'Washing his feet': 2,
 'Ocean racing': 6,
 'Dry shelling': 9,
 'Washing horses': 9,
 'Retrieving meat from a cage in the water': 9,
 'The steamer Tahiti collided with the ferry Greycliffe': 7,
 'Attempting to rescue drowning man': 9,
 'The British steamer Caribbee foundered': 7,
 'Dismantling cable buoys of the cable ship All America': 7,
 'The 168-ton Belmore foundered in heavy seas': 7,
 'Knocked into the water': 9,
 'Cutter capsized': 9,
 'Taking wife to beach & about 1 m from the shore': 2,
 'Washing clothes': 9,
 'The schooner Tahitienne foundered in a hurricane': 7,
 '3-masted steel barque Glenbank foundered during a cyclone': 7,
 'Reported swept away by waves while gathering opihi': 9,
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people': 7,
 'The coastwise steamer San Basilio capsized in a typhoon': 7,
 'Yacht of Michael Howell capsized': 7,
 'Catching a turtle': 9,
 'Hurricane & Tidal Wave': 7,
 'Underwater photography': 4,
 '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore': 7,
 'Parachuted into Pacific': 9,
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21': 7,
 'B-24 crashed during a search mission. Survivors in raft for 47 days ': 7,
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover': 7,
 'Thrown from destroyer when shell hit': 7,
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125. ': 7,
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126': 7,
 'Torpedoed & burning British  light cruiser with a crew of 450 men': 7,
 'SS Ethel Skakel foundered in Central America Hurricane of 1941': 7,
 'Washed off freighter Huncliff by a freak wave': 2,
 'Scooping prawns': 4,
 'She was on a ship that was torpedoes & was in the water awaiting rescue': 7,
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered': 7,
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather': 7,
 'Disappeared 11 days earlier, probable homicide victim': 9,
 'Catching crabs': 2,
 'Harpooning turtles': 5,
 '"Crossing the river"': 2,
 'Hooking into a whale': 5,
 'A junk foundered': 7,
 'Painting a ship': 9,
 'Coming ashore on a hawser': 6,
 'Reaching for life preserver': 7,
 'Trying to catch a wounded bird': 2,
 'Deserting the bark Nazarene': 3,
 'ship William Penn grounded & broke apart': 7,
 'Hilo': 9,
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"': 7,
 'American schooner Orator capsized  ': 7,
 'The cutter Francis Adams foundered': 7,
 'Washing a dog': 2,
 'HBM Magpie foundered in a squall': 7,
 'Washing himself': 2,
 'Ship lay at anchor & man was working on its rudder': 2,
 'Swmming': 3,
 'Washing his pig in preparation for a religious ceremony': 2,
 'A dhow capsized': 7,
 'yachtsman in a zodiac': 7,
 'Crossing river on a raft': 6,
 'Burning of the S.S. Missouri': 7,
 'Washed off raft': 7,
 'The steamship Bonnie Dundee lost in collision': 7,
 'yachting accident': 7,
 'Trailing hand in the water': 2,
 'Hunting seals': 5,
 'Lifesaving exhibition': 9,
 'Abandoning burning steamship Don Juan': 7,
 'HMS Victoria collided with the HMS Camperdown': 7,
 'His balloon crashed in the harbor': 7,
 'Attempting to rescue shipmate': 9,
 'Fleeing across a river': 9,
 'Parachuted from balloon': 7,
 'Cleaning the side of a ship': 9,
 'The steamships Thingvalla and Geiser collided': 7,
 'Probabable drowning': 9,
 'The Dwarka foundered': 7,
 'Crossing the river mouth': 9,
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore': 7,
 'British ship Macedon was thrown on her beam ends by a sudden squall': 7,
 'Oystering': 5,
 'Leicester abandoned in a hurricane': 7,
 'Climbing back on ship': 9,
 'No details': 9,
 'Defecating in water beneath the docks': 2,
 "Crouching in 2' of water": 2,
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours': 7,
 'Collecting beche-de-mer': 5,
 'Hiking on the beach': 2,
 'Batin': 2,
 'Attempting to catch a crocodile': 5,
 'Conducting research': 9,
 'Attempting to illegally enter the USA': 3,
 "Lying prone in 2' of water": 2,
 "Scientific research (Dr. Sonny Gruber's student)": 9,
 'Watching seals': 9,
 'Attempting to attract dolphins': 9,
 'Boeing 757 enroute from Porta Plata plunged into the sea': 7,
 'Vessel caught fire & capsized, survivors in the water': 7,
 'Dropping anchor': 9,
 'NSB Meshing': 9,
 'Racing ski': 6,
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ': 7,
 'Yacht race': 6,
 'Crawling': 2,
 'Fihing': 5,
 'Military ocean training': 2,
 'On a round-the-world expedition': 7,
 'Towing a dead whale out to sea': 9,
 'Watching the sardine run': 9,
 'Spearishing': 5,
 'Lifeguard Training Exercise': 3,
 'Lifeguard Exercises': 3,
 'Scalloping': 5,
 'Squatting in the water': 2,
 'Rescuing': 9,
 'Kite Foiling': 6,
 'Sightseeing': 3,
 'Picking opihi': 5,
 'Photo shoot': 3,
 'Kakaying': 6,
 'Washing hands': 2,
 'Kneeling in the water': 2,
 'Attempting to fix motor': 9,
 'Steinhart Aquarium': 8,
 'Ran into the water': 2,
 'In waist-deep water': 4,
 'In deep water about 100 yards from his ship': 4,
 'Collecting aquarium specimens': 8,
 'Pacific Seafarer of US Navy': 9,
 'Hand lining for shad': 5,
 'Pulling raft out to ride to shore': 5,
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion': 7,
 'Gigging for flounder': 7,
 'On inflatable raft': 9,
 'Pulling anchor': 9,
 'Dragging banana seeds through the shallows': 4,
 'Attaching a line at sea': 5,
 'Cleaning hull of ship ': 9,
 '3 men & 2 boys picked up wearing life jackets and with inner tube': 9,
 'Attempting to set underwater endurance record': 4,
 'Hunting turtle': 5,
 'Crossing the bay at the ford': 6,
 'Crouching in the water': 2,
 'Body found on deserted luxury yacht, 38’ Christine': 7,
 'Swept off deck of S.S.Frontenac enroute from West Indies to US': 9,
 'Cleaning a tank': 9,
 'Rolled off raft': 9,
 'Yacht Trashman capsized in storm': 7,
 'Vehicle plunged over cliff into the water': 7,
 'Catching sardines': 5,
 'Foundering of the Israeli freighter Mezada': 7,
 'Exercising his dog in the shallows': 2,
 'Ferry capsized': 7,
 'Crabbing (spearing crabs)': 5,
 'Washing cooking pans': 2,
 'Sight-seeing': 3,
 'Leaving the water': 3,
 'Overturned skiff': 6,
 'Abandoning burning ship Captain George in raging seas': 3,
 'Arsinoe, a French tanker': 3,
 'Collecting marine specimens': 5,
 'Searching for remains of  Dr. Marais': 4,
 'Yacht Gooney Bird foundered, 4 survivors on raft': 7,
 'Lying in 2 feet of water': 2,
 'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished': 7,
 'Washed into sea while picking opihi': 5,
 'The 500-ton coastal trader Polurrian foundered ': 7,
 'A group of survivors on a raft for 17-days': 7}

hl_df['activity'].replace(clean_activities, inplace=True)

In [87]:
hl_df['activity'].value_counts()

activity
1                             1434
5                             1261
3                             1244
4                              759
2                              688
6                              502
7                              324
8                               98
9                               54
sand tiger                      11
.                                3
                                 1
pêcheur de bichiques             1
male                             1
                                 1
Loss of the schooner Nomad       1
Angling                          1
Name: count, dtype: int64

In [89]:
act_categories = {
    1 : 'surfing',
    2 : 'bathing',
    3 : 'swimming',
    4 : 'diving',
    5 : 'fishing',
    6 : 'boat sports',
    7 : 'watercraft',
    8 : 'teasing shark',
    9 : 'other'
}


hl_df['activity'].replace(act_categories, inplace=True)

In [91]:
hl_df['activity'].value_counts().to_dict()

{'surfing': 1434,
 'fishing': 1261,
 'swimming': 1244,
 'diving': 759,
 'bathing': 688,
 'boat sports': 502,
 'watercraft': 324,
 'teasing shark': 98,
 'other': 54,
 'sand tiger': 11,
 '.': 3,
 '   ': 1,
 'pêcheur de bichiques': 1,
 'male': 1,
 ' ': 1,
 'Loss of the schooner Nomad': 1,
 'Angling': 1}

In [93]:
final_final_touches = {
 '.': 9,
 '   ': 9,
 'pêcheur de bichiques': 5,
 'male': 9,
 ' ': 9,
 'Loss of the schooner Nomad': 7,
 'Angling': 5
}

hl_df['activity'].replace(final_final_touches, inplace=True)

In [95]:
hl_df['activity'].value_counts()

activity
surfing          1434
fishing          1261
swimming         1244
diving            759
bathing           688
boat sports       502
watercraft        324
teasing shark      98
other              54
sand tiger         11
9                   6
5                   2
7                   1
Name: count, dtype: int64

In [102]:
propna(hl_df)

Percentage of data that is NaN (in %)

{'year': 0.03,
 'country': 0.72,
 'sex': 8.31,
 'age': 42.97,
 'activity': 0.0,
 'injury': 0.5,
 'type': 0.26,
 'size': 0.0}

In [99]:
hl_df['activity'].fillna('other', inplace=True)