In [8]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [13]:
data = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [14]:
data.sample(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
2435,03-Oct-2002,2002.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Cheyne Kehoe,M,18,...,3.5' to 4' shark,"S. Petersohn, GSAF; Local 6 News; Orlando Sent...",2002.10.03-Kehoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.10.03,2002.10.03,4507.0,NaN,NaN
4716,Reported 26-Jun-1959,1959.0,Unprovoked,TURKEY,Mersin Province,Off Mezitli,NaN,Yitzhak Steinberg,M,NaN,...,NaN,"C. Moore, GSAF",1959.06.26.R-Steinberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.06.26.R,1959.06.26.R,2226.0,NaN,NaN
6430,Sep-1882,1882.0,Unprovoked,JAPAN,NaN,NaN,Clinging to shipwrecked junk,Japanese fisherman,M,NaN,...,NaN,"Launceston Examiner, 6/21/1883",1882.09.00-JapaneseFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1882.09.00,1882.09.00,513.0,NaN,NaN
2337,06-Nov-2003,2003.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Karridene,Surf skiing,2 people on ski,NaN,NaN,...,White shark,Natal Sharks Board,2003.11.06.a-Karridene.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2003.11.06.a,2003.11.06.a,4605.0,NaN,NaN
3402,15-Apr-1987,1987.0,Unprovoked,USA,Hawaii,"Kailua-Kona, Hawai'i",Swimming from shore to anchored sailboat,Daniel Kennedy,M,NaN,...,NaN,"J. Borg, p.76; L. Taylor (1993), pp.106-107",1987.04.15-Kennedy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1987.04.15,1987.04.15,3540.0,NaN,NaN
661,13-Jan-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Martin Islet,Free diving,Callum Stewart,M,28,...,"White shark, 3.5 m","B. Myatt, GSAF",2018.01.13-Stewart.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.01.13,2018.01.13,6282.0,NaN,NaN
3697,15-Jan-1980,1980.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,Ansteyâ€™s,Spearfishing,Les Winkworth,M,29,...,"2 m [6'9""] Zambesi shark","L. Winkworth, M. Levine, GSAF",1980.01.15-Winkworth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.01.15,1980.01.15,3245.0,NaN,NaN
2613,14-Oct-2000,2000.0,Unprovoked,USA,Florida,"South Beach, Sebastian, Indian River County",Swimming,Norman Payne,M,69,...,NaN,"D. Robinson, Vero Beach Press Journal, 10/17/2...",2000.10.14-Payne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.10.14,2000.10.14,4329.0,NaN,NaN
6557,17-Jan-1868,1868.0,Sea Disaster,VIETNAM,NaN,Cohong,A junk foundered,NaN,M,NaN,...,NaN,"Argus, 5/26/1868",1868.01.17-Vietnamese.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.01.17,1868.01.17,386.0,NaN,NaN
2139,25-Nov-2005,2005.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon, East London",Surfing,Ashley Milford,M,26,...,NaN,Dispatch online,2005.11.25.a-Milford.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.11.25.a,2005.11.25.a,4803.0,NaN,NaN

In [6]:
data['Date'].value_counts()

Date
1957           9
1942           8
1958           7
No date        6
1956           6
              ..
07-Jul-2000    1
09-Jul-2000    1
10-Jul-2000    1
12-Jul-2000    1
1845-1853      1
Name: count, Length: 6003, dtype: int64

In [17]:
data['Year'].value_counts()

Year
2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1784.0      1
1783.0      1
1780.0      1
1779.0      1
1819.0      1
Name: count, Length: 259, dtype: int64

In [19]:
data['Type'].value_counts()

Type
Unprovoked             5107
Provoked                635
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [21]:
data['Country'].value_counts()

Country
USA                   2538
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
PUERTO RICO              1
RED SEA                  1
Coral Sea                1
BRITISH ISLES            1
CEYLON (SRI LANKA)       1
Name: count, Length: 225, dtype: int64

In [23]:
data['State'].value_counts()

State
Florida                1178
New South Wales         521
Queensland              347
Hawaii                  341
California              323
                       ...
Shizuoka Prefecture       1
Brindisi Province         1
Kagawa Prefecture         1
 Upolu Island             1
Moala Island              1
Name: count, Length: 902, dtype: int64

In [25]:
data['Location'].value_counts()

Location
New Smyrna Beach, Volusia County                            191
Daytona Beach, Volusia County                                31
Ponce Inlet, Volusia County                                  28
Myrtle Beach, Horry County                                   22
Melbourne Beach, Brevard County                              20
                                                           ...
Limay                                                         1
Pau Amarelo Beach, Paulista District (17 km from Recife)      1
Melbourne Beach, Brevard County                               1
Shepard Park, Cocoa Beach, Brevard County                     1
Below the English fort, Trincomalee                           1
Name: count, Length: 4514, dtype: int64

In [27]:
data['Activity'].value_counts()

Activity
Surfing                                                        1121
Swimming                                                        976
Fishing                                                         488
Spearfishing                                                    382
Wading                                                          174
                                                               ...
Fishing boat swamped in a storm                                   1
Free diving (but on surface)                                      1
Adrift after the sinking of the motor yacht Princess Dianne       1
Free diving for abalone (submerged)                               1
Wreck of  large double sailing canoe                              1
Name: count, Length: 1587, dtype: int64

In [31]:
data['Name'].value_counts() # >>>Suggest drop<<<
# Victims names are unimportant for basic analysis
# Also, a considerable ammount of the data is either NaN or misinformation (like the sex, for example)

Name
male                680
female              136
boy                  23
2 males              17
boat                 14
                   ...
John McGovern         1
Martin Gunda          1
Joseph Krone          1
Deborah Franzman      1
Jules Patterson       1
Name: count, Length: 5683, dtype: int64

In [33]:
data['Sex'].value_counts() # This one looks like a worthy column!! :D

Sex
M        5578
F         779
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [35]:
data['Age'].value_counts() # Also seems like a very interesting column to keep
# Although, half of it (43.32%) is NaN >>>filling consideration<<<

Age
19          89
16          89
17          88
17          85
15          84
            ..
84           1
36 & 26      1
77           1
Teens        1
13 or 14     1
Name: count, Length: 243, dtype: int64

In [37]:
data['Injury'].value_counts() # This is a tricky column, as it's data is higly nominal

Injury
FATAL                                                                              863
Foot bitten                                                                        100
Survived                                                                            97
No injury                                                                           85
Leg bitten                                                                          81
                                                                                  ...
Right calf & heel bitten                                                             1
Multiple bites to foot after jumping off surfboard onto shark PROVOKED INCIDENT      1
Shallow  lacerations to left  thigh PROVOKED INCIDENT                                1
Bitten on finger                                                                     1
FATAL. "Shark bit him in half, carrying away the lower extremities"                  1
Name: count, Length: 4079, dtype: int64

In [41]:
data['Time'].value_counts() # This column is quite interesting to deepen the analysis
# But not highly interesting for shallow analysis

Time
Afternoon       215
11h00           140
Morning         135
15h00           127
16h00           123
               ...
10h27             1
10h16             1
14h09             1
Before 07h00      1
19h00-20h00       1
Name: count, Length: 410, dtype: int64

In [49]:
data['Species '].value_counts() # Please note that there is an unnecessary space at the end of the name of the column

Species
White shark                                                                                                                      194
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       89
                                                                                                                                ...
1.2 m to 1.8 m [4' to 6'] shark                                                                                                    1
Grey nurse shark, 3 m female                                                                                                       1
Porbeagle shark, 3 m [10']rk                                                                                                       1
White shark, 4.5 m [14'9"]                                                                                                         1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1675, dtype: int64

In [51]:
data['Source'].value_counts() # >>>Suggested column to drop<<<

Source
K. McMurray, TrackingSharks.com                                                                                       131
C. Moore, GSAF                                                                                                        105
C. Creswell, GSAF                                                                                                     101
S. Petersohn, GSAF                                                                                                     82
B. Myatt, GSAF                                                                                                         59
                                                                                                                     ...
S. Petersohn, GSAF; M. I. Johnson,  Daytona Beach News Journal, 9/19/2000, p.1A; Orlando Sentinel, 9/9/2000 , p.D2      1
E. Matechi; A. Mbogora                                                                                                  1
Fort Pierce Tribune, 9/12/2000                                                                                          1
S. Petersohn, GSAF; Daytona  Beach News Journal, 9/12/2000, p.1.A; Orlando Sentinel, 9/12/2000, p.D2                    1
S.W. Baker                                                                                                              1
Name: count, Length: 5302, dtype: int64

In [55]:
data['pdf'].value_counts() # >>>Suggested column to drop<<<
# I would also drop this column as it is not really useful for Python and Pandas analysis

pdf
1907.10.16.R-HongKong.pdf            2
1921.11.27.a-b-Jack.pdf              2
1935.06.05.R-SolomonIslands.pdf      2
1916.12.08.a-b-German.pdf            2
1929.03.04.a-b.Roads-Aldridge.pdf    2
                                    ..
2003.04.19-SD.pdf                    1
2003.04.20.a-StephenFlowers.pdf      1
2003.04.20.b-Albright.pdf            1
2003.04.20.c-Ryan.pdf                1
ND-0001-Ceylon.pdf                   1
Name: count, Length: 6789, dtype: int64

In [57]:
data['href formula'].value_counts() # >>>Suggested Drop<<<
# I checked these links and they go nowhere, this is a total up2drop column

href formula
http://sharkattackfile.net/spreadsheets/pdf_directory/                                       25
http://sharkattackfile.net/spreadsheets/pdf_directory/1906.09.27.R.a&b-Munich-Swede.pdf       2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf               2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf       2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.07.12.a-b-Stillwell-Fisher.pdf     2
                                                                                             ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.15-Venezuela.pdf                1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.18-PatrickAFB.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.19-SD.pdf                       1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.04.20.a-StephenFlowers.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/1983.10.17.a-Kalein.pdf                 1
Name: count, Length: 6785, dtype: int64

In [61]:
data['href'].value_counts() # >>>Suggested drop<<<

href
http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf           4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf    3
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf       2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf      2
                                                                                    ..
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.01.03-Menking.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.01.17-scavenging.pdf      1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.02.08-Purcell.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/2003.02.11-Plumridge.pdf       1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf              1
Name: count, Length: 6776, dtype: int64

In [63]:
data['Case Number'].value_counts() # This column might be interesting to take a look, as this codes might reflect dates
# After cleaning the dataset and dropping some columns, I came to realize that this columns are indeed related to dates
# We might consider keeping it and dropping the Date and Year columns
# Consider, though, the percentage of NaNs for these columns:
# 'Date': 0.36%
# 'Year': 0.39%
# 'Case Number': 2.45%

# They all seem pretty workable with, and even though Date and Year have proportionally less NaNs, 'Case Number' seems more standardized

Case Number
2021.07.23      2
1907.10.16.R    2
2012.09.02.b    2
2005.04.06      2
2009.12.18      2
               ..
2003.01.03      1
2003.01.17      1
2003.02.08      1
2003.02.11      1
ND.0001         1
Name: count, Length: 6777, dtype: int64

In [73]:
data['Case Number.1'].value_counts() # The difference between the two is not clear... Is it a whole column duplicated?
# After cleaning the dataset and dropping some columns, I came to realize that this columns are indeed duplicated
# >>>> Suggested drop <<<<

Case Number.1
2012.09.02.b    2
1913.08.27.R    2
1980.07.00      2
2021.12.06      2
1920.00.00.b    2
               ..
2002.12.21      1
2002.12.24      1
2002.12.29      1
2003.01.02      1
ND.0001         1
Name: count, Length: 6775, dtype: int64

In [67]:
data['original order'].value_counts() # >>> Suggested drop <<<
# This looks like an Index, maybe they changed the older index but wanted to keep it somehow

original order
6369.0    2
569.0     2
6802.0    1
2272.0    1
2262.0    1
         ..
4536.0    1
4537.0    1
4538.0    1
4539.0    1
2.0       1
Name: count, Length: 6797, dtype: int64

In [69]:
data['Unnamed: 21'].value_counts() # >>> Suggested drop <<<

Unnamed: 21
stopped here    1
Name: count, dtype: int64

In [71]:
data['Unnamed: 22'].value_counts() # >>> Suggested drop <<<

Unnamed: 22
Teramo             1
change filename    1
Name: count, dtype: int64